<%= turbo_stream_from "matches" %>
<%= turbo_stream_from "players_open_to_play" %>

<div id="today_index_reload_notice"></div>

<%= render "today/home",
           requested_matches: @requested_matches,
           rejected_matches: @rejected_matches,
           canceled_matches: @canceled_matches,
           players_open_to_play: @players_open_to_play,
           upcoming_tournaments: @upcoming_tournaments,
           actual_articles: @actual_articles %>


<% if selected_season.present? %>
  <%= render "today/recent_matches", matches: @recent_matches %>
  <%= render "today/planned_matches", matches: @planned_matches, players: @players_open_to_play %>
<% end %>
