<div class="page__content">
  <div>
    <% if managed_season.present? %>
      <%= link_to "Nový článok", new_manager_article_path, class: "btn btn-success", data: { turbo_frame: "modal" } %>
    <% else %>
      <%= link_to "Otvoriť sezónu", new_manager_season_path, class: "btn btn-success" %>
    <% end %>
  </div>
  <% if @articles&.first %>
    <h2 class="text-center my-4">
      Články <%= managed_season.name %>
    </h2>

    <table class="centered-table">
      <thead>
        <tr class="centered-table__heading-row">
          <th>Názov</th>
          <th>Dátum</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr class="<%= inactive_css_class(!article.published?) %>">
            <td><%= link_to article.title, edit_manager_article_path(article), data: { turbo_frame: "modal" } %></td>
            <td><%= app_date(article.published_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= render "shared/no_content" %>
  <% end %>
</div>
