<%= render partial: "matches/header", locals: { match: match, privacy: } %>

<div class="page__content">
  <div class="page-controls">
    <div class="page-controls__breadcrumbs">
      <%= link_to "Domov", root_path, target: :_top %>
      / <%= link_to "Zápasy", matches_path, target: :_top %>
    </div>
    <% if player %>
      <div class="page-controls__buttons">
        <% if match.requested? %>
          <div>
            <% if MatchPolicy.new(player, match).accept? %>
              <%= confirmation_for("Odmietnuť",
                                   message: "Potvrď odmietnutie výzvy.",
                                   button_classes: "btn-warning",
                                   action_path: reject_player_match_path(match),
                                   action_data: { turbo_method: :post, turbo_frame: :_top }) %>
              <%= link_to "Prijať",
                          accept_player_match_path(match),
                          class: "btn btn-success", data: { turbo_method: :post } %>
            <% end %>
            <% if MatchPolicy.new(player, match).destroy? %>
              <%= confirmation_for("Zmazať",
                                   message: "Potvrď zmazanie výzvy.",
                                   button_classes: "btn-warning",
                                   action_path: player_match_path(match),
                                   action_data: { turbo_method: :delete, turbo_frame: :_top }) %>
            <% end %>
          </div>
        <% else %>
          <div>
            <%= confirmation_for("Zrušenie zápasu",
                                 message: "Potvrď zrušenie zápasu.",
                                 button_classes: "btn-outline-danger #{'disabled' unless MatchPolicy.new(player, match).cancel?}",
                                 action_path: cancel_player_match_path(match),
                                 action_data: { turbo_method: :post, turbo_frame: :_top }) %>
            <%= link_to "Upraviť", edit_player_match_path(match),
                        class: "btn btn-warning #{'disabled' unless MatchPolicy.new(player, match).edit?}" %>
            <%= link_to "Výsledok", finish_init_player_match_path(match),
                        class: "btn btn-danger #{'disabled' unless MatchPolicy.new(player, match).finish?}" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr>

  <%= render "matches/match_state_info", match: match, privacy: player.blank? %>

  <div class="match-info">
    <% if match.play_date.present? %>
      <div class="py-2 me-5">
        <div class="u-fs-dominant">Termín</div>
        <div>
          <%= app_date(match.date, prefix: true) %>
          <%= match.play_time if match.play_time.present? %>
        </div>
      </div>
    <% end %>

    <% if match.place_id.present? %>
      <div class="py-2 me-5">
        <div class="u-fs-dominant">Miesto</div>
        <div><%= match.place.name %></div>
      </div>
    <% end %>

    <% if match.notes.present? %>
      <div class="py-2 me-5">
        <div class="u-fs-dominant">Poznámky</div>
        <div><%= match.notes %></div>
      </div>
    <% end %>
  </div>

  <%= content_tag :div, id: "match_#{match.id}_predictions" do %>
    <%= render partial: "matches/predictions",
               locals: { match: match, player: player } %>
  <% end %>

  <hr>
  <%= render partial: "shared/comments_list",
             locals: {
               reactionable: match,
               player: player,
               reactionable_type: "match",
               toggle_reaction_path: toggle_reaction_player_match_path(match),
               object_path: match_path(match, anchor: "comments")
             } %>
</div>
