<%#= turbo_stream_from "dashboard_player" %>

<% if managed_season.present? %>

  <h2 class="base-heading text-center">
    <%= managed_season.ended? ? "Skončila" : "Prebieha" %>
    sezóna
  </h2>
  <h2 class="base-heading text-center"><%= managed_season.name %></h2>

  <div class="page__content">
    <% if @players.first %>
      <h2 class="text-center py-4">
        Registrovaní hráči
      </h2>

      <table class="centered-table">
        <thead>
        <tr class="centered-table__heading-row">
          <th>Meno</th>
          <th>Sezóna <%= managed_season.name %></th>
          <th>Prístup</th>
        </tr>
        </thead>
        <tbody>
        <% @players.each do |player| %>
          <tr id="dashboard_player_<%= player.id %>">
            <td>
              <%= player.name %>
            </td>
            <td>
              <%= turbo_frame_tag "player_enrollment_#{player.id}" do %>
                <% if player.enrolled_to?(managed_season) %>
                  <%= render "manager/pages/player_toggle_form",
                             url: manager_toggle_enrollment_path(player_id: player.id),
                             label: "prihlásený", color_class: "text-success" %>
                <% else %>
                  <%= render "manager/pages/player_toggle_form",
                             url: manager_toggle_enrollment_path(player_id: player.id),
                             label: "odhlásený", color_class: "text-danger" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= turbo_frame_tag "player_access_#{player.id}" do %>
                <% if player.confirmed? %>
                  <%= render "manager/pages/player_toggle_form",
                             url: toggle_confirmed_manager_player_path(player),
                             label: "povolený", color_class: "text-success" %>
                <% else %>
                  <%= render "manager/pages/player_toggle_form",
                             url: toggle_confirmed_manager_player_path(player),
                             label: "blokovaný", color_class: "text-danger" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-center py-4">
        Žiadni hráči nie sú registrovaní.
      </p>
    <% end %>

    <h2 class="text-center py-4">
      Nastavenia sezóny
    </h2>
    <%= render "manager/seasons/form", season: managed_season %>

    <div class="text-center py-4">
      <% can_open_new = managed_season.blank? || managed_season.ended? %>
      <%= button_to "Otvoriť novú sezónu", open_new_manager_seasons_path,
                    class: "btn btn-success #{'disabled' unless can_open_new}",
                    disabled: !can_open_new,
                    data: { turbo: false } %>
    </div>
  </div>
<% else %>
  <h2 class="text-center">Čaká sa na prvú sezónu.</h2>
  <p class="text-center py-4">
    <%= link_to "Začať sezónu", new_manager_season_path, class: "btn btn-large btn-success" %>
  </p>
<% end %>
