<%#= turbo_stream_from "dashboard_player" %>

<% if managed_season.present? %>

  <h2 class="base-heading text-center">
    <%= managed_season.ended? ? "Skončila" : "Prebieha" %>
    sezóna
  </h2>
  <h2 class="base-heading text-center"><%= managed_season.name %></h2>

  <div class="page__content">
    <% if @players.first %>
      <h2 class="text-center py-4">
        Registrovaní hráči
      </h2>

      <div class="table-responsive">
        <table class="centered-table">
          <thead>
          <tr class="centered-table__heading-row">
            <th>Meno</th>
            <th>Sezóna <%= managed_season.name %></th>
            <th>Prístup</th>
          </tr>
          </thead>
          <tbody>
          <% @players.each do |player| %>
            <tr id="dashboard_player_<%= player.id %>" class="align-middle border-top">
              <td>
                <%= player.name %>
              </td>
              <td>
                <%= turbo_frame_tag "player_enrollment_#{player.id}" do %>
                  <% enrollment = player.enrollments.find { |e| e.season_id == managed_season.id } %>
                  <% if enrollment.present? %>
                    <%= form_with model: [:manager, enrollment], class: "d-flex align-items-center gap-2" do |f| %>
                      <div class="d-flex flex-column px-2">
                        <span class="small text-muted">Zrušený zápis</span>
                        <%= f.datetime_field :canceled_at, class: "form-control form-control-sm", style: "width: auto;" %>
                      </div>
                      <div class="d-flex flex-column px-2">
                        <span class="small text-muted">Štartovné</span>
                        <%= f.number_field :fee_amount_paid, class: "form-control form-control-sm", style: "width: 70px;" %>
                      </div>
                      <div class="d-flex flex-column px-2">
                        <span class="small text-muted">Odsúhlasenie pravidiel</span>
                        <div class="form-control-plaintext form-control-sm" style="width: auto;">
                          <%= app_time(enrollment.rules_accepted_at) %>
                        </div>
                      </div>
                      <div class="pt-3 px-2">
                        <%= f.submit "Update", class: "btn btn-sm btn-primary" %>
                      </div>
                    <% end %>
                  <% else %>
                    <%= form_with model: [:manager, Enrollment.new], class: "d-inline-flex align-items-center px-2" do |f| %>
                      <%= f.hidden_field :player_id, value: player.id %>
                      <%= f.submit "Zapísať do sezóny", class: "btn btn-sm btn-outline-primary" %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= turbo_frame_tag "player_access_#{player.id}" do %>
                  <div class="px-2">
                    <% if player.confirmed? %>
                      <%= render "manager/pages/player_toggle_form",
                                 url: toggle_confirmed_manager_player_path(player),
                                 label: "povolený", color_class: "text-success" %>
                    <% else %>
                      <%= render "manager/pages/player_toggle_form",
                                 url: toggle_confirmed_manager_player_path(player),
                                 label: "blokovaný", color_class: "text-danger" %>
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="text-center py-4">
        Žiadni hráči nie sú registrovaní.
      </p>
    <% end %>

    <h2 class="text-center py-4">
      Nastavenia sezóny
    </h2>
    <%= render "manager/seasons/form", season: managed_season %>

    <div class="text-center py-4">
      <% can_open_new = managed_season.blank? || managed_season.ended? %>
      <%= button_to "Otvoriť novú sezónu", open_new_manager_seasons_path,
                    class: "btn btn-success #{'disabled' unless can_open_new}",
                    disabled: !can_open_new,
                    data: { turbo: false } %>
    </div>
  </div>
<% else %>
  <h2 class="text-center">Čaká sa na prvú sezónu.</h2>
  <p class="text-center py-4">
    <%= link_to "Začať sezónu", new_manager_season_path, class: "btn btn-large btn-success" %>
  </p>
<% end %>
