<div class="flex justify-center py-8">
  <%= form_with model: [:manager, season], class: "w-full p-2" do |f| %>
    <div class="pt-4 grid grid-cols-1 md:grid-cols-2 gap-2">
      <div class="w-full">
        <%= f.label :name, "N치zov", class: "block tracking-wide mb-2" %>
        <%= f.text_field :name, class: "appearance-none block w-full border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none" %>
        <%= error_for(:name, season) %>
      </div>
    </div>

    <div class="flex justify-end">
      <%= link_to "Zru코i콘", manager_pages_dashboard_path, class: "button" %>
      <%= f.submit "Potvrdi콘", class: "button button-blue" %>
    </div>
  <% end %>
</div>
