<!DOCTYPE html>
<html lang="sk">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "TOtal - Topoľčianska tenisová amatérska liga" %></title>
    <meta name="description" content="Topoľčianska tenisová amatérska liga (TOtal) - amatérska tenisová súťaž v Topoľčanoch. Výsledky, tabuľky a štatistiky.">
    <meta name="keywords" content="tenis liga Topoľčany, tenisová liga, tenisová súťaž, amatérsky tenis, TOtal">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body class="page" data-controller="application">
    <%= render 'shared/navbar' %>

    <% if current_player.present? && selected_season.present? && !selected_season.ended? &&
          !current_player.enrolled_to?(selected_season) %>
      <div class="top-notice">
        Máš registráciu, ale nie si prihlásený<small>/á</small> do súčasnej sezóny.
        Kontaktuj - <%= link_to 'Ľuboš Hollan', 'tel:0908129978', class: "u-white" %>
        alebo
        <%= link_to 'Tomáš Radič', 'tel:0905289248', class: "u-white" %>.
      </div>
    <% end %>

    <div class="page__wrapper">
      <div class="page__main">
        <%= yield %>
      </div>
      <div class="page__footer"><%= render "shared/footer" %></div>
    </div>
    <span data-application-target="loadTime" hidden></span>

    <%= turbo_frame_tag :toasts do %>
      <%= render 'shared/toasts' %>
    <% end %>

    <%= render "shared/modal" %>
  </body>
</html>
